* {
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

body {
   display: grid;
   grid: 100% / 40% 60%;
}

/*left side*/
.left {
   display: grid;
   grid: 20% 15% 62% 3% /100%;
}

.logo-section {
   grid-area: 2 / 1 / 3 / 2;
   display: flex;
   justify-content: center;
   align-items: center;
}

.copyright-section {
   grid-area: 4 / 1 / 5 / 2;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*right side*/
.right {
   margin-left: 30px;
   display: grid;
   grid: 35% 65% / 100%;
}

.intro {
   padding-bottom: 50px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
}

/*Form*/
form {
   display: grid;
   grid: 50% 50% / 100%;
}

fieldset {
   display: grid;
   grid: repeat(5, 20%)/repeat(2, 40%);
   row-gap: 10px;
}

.legend {
   grid-area: 1 / 1 / 2 / 2;
   height: 30px;
   width: 70%;
   min-width: 150px;
}

.input-container {
   display: grid;
   grid: repeat(2, 50%) / 100%;
}

label {
   min-width: 170px;
}

.input-text {
   margin-right: 10px;
   max-width: 200px;
}

.first-name-container {
   grid-area: 2 / 1 / 3 / 2;
}

.last-name-container {
   grid-area: 2 / 2 / 3 / 3;
}

.email-container {
   grid-area: 3 / 1 / 4 / 2;
}

.phone-number-container {
   grid-area: 3 / 2 / 4 / 3;
}

.password-container {
   grid-area: 4 / 1 / 5 / 2;
}

.password-confirm-container {
   grid-area: 4 / 2 / 5 / 3;
}

.submit-section {
   height: 50%;
   width: 40%;
   min-width: 220px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   align-content: space-evenly;
}

.create-account-btn {
   height: 30px;
   width: 150px;
   border-radius: 5px;
}